.home-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: scroll;
}

.flower-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower-container img{
    width: 90%;
    aspect-ratio: 4/3;
}

.title{
    display: flex;
    width: 100vw;
    height: fit-content;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}


#home-title{
    color: var(--font-color);
    font-family: 'Against';
    font-weight: normal;
    font-size: 25vh;
}


@media screen and (max-width: 1300px) {
    #home-title{
        font-size: 20vw;
    }
  }