.home-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: scroll;
}

.top-row{
    width: 100vw;
    padding: 2em;
    height: 3em;
    display: flex;
    position: fixed;
    z-index: 5;
    pointer-events: none;
}

.icon-container{
    height: 3em;
    width: 3em;
    aspect-ratio: 1/1;
    display: flex;
    pointer-events: all;
    /* DO NOT USE ANY JUSTIFY OR ANY ALIGN FOR SVG OR WILL NOT SHOW   */
}

.flower-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower-container img{
    width: 90%;
    aspect-ratio: 4/3;
}

.title{
    display: flex;
    width: 100vw;
    height: fit-content;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.title h1{
    color: var(--font-color);
    font-family: 'General Sans Semibold';
    font-size: 25vw;
}
