.journalism-page{
    perspective: 700px;
}

.page-2-background{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-2{
    max-width: 28vw;
    width: 28vw;
    aspect-ratio: 1/1;
    display:flex;
    position: absolute;
    /* overflow:hidden; */
    background-size: cover;
    filter: drop-shadow(1px 1px 20px rgba(0,0,0,0.4));
    will-change: filter;
    perspective: 50em; /* apply perspective to the base*/
}

.main-image-2 img{
    transform-style: preserve-3d; /* apply transform style to the object*/
    height: 100%;
    margin-right: 10%;
    -webkit-box-reflect: below 5em linear-gradient(transparent, transparent, #0004);
}

.running-banner-2{
    height: 30vh;
    width: 100vw;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.running-banner-2 h1{
    color: var(--font-color);
    font-family: 'Against';
    font-weight: normal;
    font-size: 13vw;
    /* white-space: nowrap; */
}

.banner-one-2{
    padding: .7em;
    width: 100vw;
    white-space: nowrap;
    /* margin-left: -100vw; */
}

.banner-two-2{
    padding: .7em;
    width: 100vw;
    white-space: nowrap;
}