.subpage-content{
    width: 100%;
    height: 100%;
    margin-right: .38em;
    /* internals */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.row-scroller{
    height: 100%;
    width: 33.333%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

}

.image-row{
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 1.9%;
}

.image-cell{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(240, 248, 255, .5);
    margin-top: 1.9%;
    border-radius: .6em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-cell img{
    height: 100%;
}

#row1-1{
   margin-top: -10em;
}
#row1-2{
   margin-top: -50.3em;
}
#row1-3{
   margin-top: -15em;
}