.transition-cover{
    position: absolute;
    width: 100vw;
    height: 93vh;
    background-color: var(--bg-color);
    z-index: 100;
    display: none; /* change to unset on animation*/
    top: 8vh;
}